.App {
  font-family: sans-serif;
  text-align: center;
}
#app {
  background-color: lightcoral;
}
h1 {
  text-align: center;
  color: blue;
}
h3 {
  text-align: center;
}

#col {
  color: blue;
}
input {
  border-color: blue;
  height: 30px;
  width: 200px;
  text-align: center;
  animation-timing-function: ;
  display: inline-flex;
  border-radius: 10px;
}
